.logo{
    width: 8%;
}
.fundomenu{
    background-color: darkblue;
}
.minhafonte{
    font-size: 1.5rem;
}
.col{
    margin-top: 30px;
    padding: 30px;
    border: 2px solid black;
}

.titulo {
    text-align: center;
}

.card{
    margin: auto;
    margin-top: 30px;
}

.container-cards {
    margin-top: 90px;
}

.scrollspy-example{
    position: relative;
    height: 200px;
    overflow: auto;
}

.list-body{
    margin-top: 30px;
}

.competencias{
    margin-bottom: 50px;
    justify-content: center;
    text-align: center;
}
